@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.profile-img {
    margin-top: 30px;
    width: 240px;
    border-radius: 50%;
}

.hero h1 {
    text-align: center;
    width: 65%;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    font-family: "Dancing Script", cursive;
    opacity: 0; /* Initially hidden */
    transform: translateX(-50px); /* Start from left */
    transition: opacity 1s, transform 1s; /* Smooth transition */

}
.hero h2{
    font-family: "Afacad Flux", sans-serif;
}

.hero h1.animate {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to original position */
}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.hero-resume {
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #B415FF;
}

@media(max-width:768px) {
    .profile-img {
        margin-top: 50px;
        width: 200px;
    }
    .hero h1 {
        margin-top: 10px;
        width: 90%;
        font-size: 35px;
    }
    .hero p {
        width: 80%;
        font-size: 16px;
        line-height: 25px;
        margin: 5px 0px;
    }
    .hero-action {
        gap: 10px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect {
        padding: 20px 20px;
        border-radius: 40px;
        font-size: 14px;
    }
    .hero-resume {
        padding: 18px 30px;
        border-radius: 40px;
        font-size: 14px;
    }
}
